<template>
  <div class="ui stackable two column grid">
    <div class="column">
      <form submit.trigger="addCandidate()" class="ui form stacked segment">
        <h3 class="ui dividing header"> Add a Candidate </h3>
        <div class="field">
          <label>First Name </label> <input value.bind="firstName">
        </div>
        <div class="field">
          <label>Last Name </label> <input value.bind="lastName">
        </div>
        <div class="field">
          <label>Office </label> <input value.bind="office">
        </div>
        <button class="ui blue submit button">Add</button>
      </form>
    </div>
    <div class="column">
      <h4 class="ui dividing header"> Candidates </h4>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Office</th>
          </tr>
        </thead>
        <tbody>
          <tr repeat.for="candidate of candidates">
            <td>
              ${candidate.lastName}
            <td>
              ${candidate.firstName}
            </td>
            <td>
              ${candidate.office}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
