<template>
  <require from="../resources/elements/donation-list"></require>
  <require from="../resources/elements/donate-form"></require>

  <div class="ui stackable two column grid">
    <div class="column">
      <donate-form donations.two-way="donations" payment-methods.bind="paymentMethods"
                   candidates.bind="candidates">
      </donate-form>
    </div>
    <div class="column">
      <donations-list donations.bind="donations"></donations-list>
    </div>
  </div>
</template>
