<template>
  <div class="ui stackable two column grid">
    <div class="column">
      <form submit.trigger="makeDonation()" class="ui form stacked segment">
        <h3 class="ui dividing header">Make a Donation</h3>
        <div class="grouped inline fields">
          <div class="field"><label>Amount</label> <input type="number" value.bind="amount" /></div>
        </div>
        <button class="ui blue submit button">Donate</button>
      </form>
    </div>
    <div class="column">
      <h3 class="ui dividing header"> Donations to Date </h3>
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr repeat.for="donation of donations">
            <td> ${donation}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
